.site-layout {
    float: left;
    width: 100%;
}

#top-bar {
    background-color: rgba(0, 0, 0, 0.85);
    float: left;
    margin: 0;
    position: absolute;
    width: 99%;
    z-index: 100000000;
}

.urban {
    background-color: rgba(0, 0, 0, 0.95);
}

#navbar {
    background-color: black;
    float: left;
    margin: 5;
    position: absolute;
    padding: 14px 16px;
    width: 99%;
    z-index: 100000000;
    display: inline-block;
}